* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    color: #fff;
    font-size: 16px;
}

.side-image {
    width: 20%;
    min-width: 448px;
    height: 100vh;
    background-color: darkblue;
}

.main {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 1.5rem;
}